
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-main class="pt-10">

    <v-row>
    <v-col>
      <v-card>
        <v-toolbar class="rtl" color="teal" dark>
          <v-toolbar-title>تعطیلات رسمی کشور در سال 1398 </v-toolbar-title>
        </v-toolbar>
      </v-card>

    </v-col>
    </v-row>


    <v-row class="rtl">

      <v-col class="d-flex rtl" cols="12" sm="2">
        <h3>جستجو بر اساس ماه</h3>
      </v-col>
      <v-col class="d-flex ltr" cols="12" sm="3">
        <v-select
          class="ltr"
          v-model="month"
          :items="items"
          label="همه"
          solo
        ></v-select>
      </v-col>
    </v-row>

    <v-alert v-if="monthSelected" type="info" style="text-align: right">
      تعداد تعطیلی های این ماه : {{holidayPerMonth}}
    </v-alert>

    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left"><h1>مناسبت</h1></th>
          <th class="text-left"><h1>تاریخ</h1></th>
          <th class="text-left"><h1>روز هفته</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="holiday in holidays" >
          <td>{{ holiday.name }}</td>
          <td>{{ moment(holiday.date) }}</td>
          <td>{{ week(holiday.date) }}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-snackbar
      v-model="notFoundAlert"
      color="info"
      :timeout="timeout"

    >
      قادر به دریافت اطلاعات نبودیم.
      دوباره تلاش کنید.

      <template>
        <v-btn
          color="indigo"
          text
          @click="notFoundAlert = false"
        >
          بستن
        </v-btn>
      </template>
    </v-snackbar>

  </v-main>
</template>

<script>
  import axios from 'axios';
  import moment from 'jalali-moment'

  export default {

    data(){
      return{
        timeout:6000,
        mainholidays:[],
        holidays:[],
        month : null,
        datesArray : [],
        items: ['همه', 'فروردین', 'اردیبهشت', 'خرداد','تیر','مرداد','شهریور','مهر','آبان','آذر','دی','بهمن','اسفند'],
        notFoundAlert:false,
      }
    },

    watch:{
      month: function(val){

        let index;

        switch (val) {
          case 'همه' :
            index=0;
            break;
          case 'فروردین' :
            index=1;
            break;
          case 'اردیبهشت' :
            index=2;
            break;
          case 'خرداد' :
            index=3;
            break;
          case 'تیر' :
            index=4;
            break;
          case 'مرداد' :
            index=5;
            break;
          case 'شهریور' :
            index=6;
            break;
          case 'مهر' :
            index=7;
            break;
          case 'آبان' :
            index=8;
            break;
          case 'آذر' :
            index=9;
            break;
          case 'دی' :
            index=10;
            break;
          case 'بهمن' :
            index=11;
            break;
          case 'اسفند' :
            index=12;
            break;
        }


        if (index===0){
          this.holidays = this.mainholidays;
        } else {
          var MonthSearched = this.arraymap(this.mainmonth,index);
          this.holidays = this.filterIndex(MonthSearched);
        }


      }
    },

    methods:{

      moment(date){
        return moment(date, 'YYYY/MM/DD').locale('fa').format('YYYY/MM/DD')
      },

      week(date){
        return moment(date, 'YYYY/MM/DD').locale('fa').format('dddd')
      },

      arraymap(array,val){
         var arr=[];
         for (var i=0;i<array.length;i++){
           if (array[i]===val){
             arr.push(i)
           }
         }
         return arr;
      },

      filterIndex(array){
        var filterdArray = [];
        for (var i= 0; i < array.length;i++){
          var b =this.mainholidays[array[i]];
          filterdArray.push(b);
        }
        return filterdArray;
      }

    },

    mounted(){
      var self = this;
      axios.get('https://holidayapi.com/v1/holidays?pretty&country=IR&year=2019&key=348965ae-fd69-416a-92cc-d08b716bb259').then(function(response){
        //self.notFoundAlert=false;
        self.holidays = response.data.holidays;
        self.mainholidays = response.data.holidays;
      }).catch(function (error) {
        self.notFoundAlert=true;

      });

    },

    computed : {
      monthArray : function () {
        var mArray = [];
        for (var i=0;i<this.holidays.length;i++){
           var month=  parseInt(this.moment(this.holidays[i].date).split("/")[1]);
           mArray.push(month);
        }
        return mArray;
      },

      mainmonth: function () {
        var array= [];
        for (var i=0;i<this.mainholidays.length;i++){
          var month= parseInt(this.moment(this.mainholidays[i].date).split("/")[1]);
          array.push(month);
        }
        return array;
      },

      monthSelected: function () {
        if (this.month===0){
          return 0
        }else{
          return 1
        }
      },
      holidayPerMonth : function () {
        return this.holidays.length;
      }

    },

  }

</script>


